In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('IMDB.sqlite')
db

In [4]:
# sqlite file is not present there will be new file created

db=sqlite3.connect('IMDB_1.sqlite')
db

In [5]:
db=sqlite3.connect('school.sqlite') #db is connection object
db

In [6]:
#creating a cursor object which help in writing sql 
cur=db.cursor()
cur

In [7]:
sql_quary='create table student (rollnumber int primary key,name text, age int)'
cur.execute(sql_quary)

In [8]:
cur.execute("insert into student values(101, 'Aman',20)")

#we need to commit if we want to update by insertion etc

In [9]:
db.commit()

In [10]:
cur.execute("insert into student values(101, 'Aman',20)")

#error as rollnumber is unique (as primary key)

IntegrityError: UNIQUE constraint failed: student.rollnumber

In [11]:
cur.execute("insert into student values(102, 'Amit',21)")

In [12]:
db.commit()

In [13]:
#closing the connection

db.close()

In [14]:
cur.execute("insert into student values(103, 'Amit',21)")

ProgrammingError: Cannot operate on a closed database.

In [15]:
#again establishing the connection

db=sqlite3.connect('school.sqlite') 
db

In [16]:
#creating a cursor object which help in writing sql 
cur=db.cursor()
cur

In [17]:
cur.execute('insert into student values (103,"Mohit",24)')
db.commit()

In [18]:
#use of place holder ?
rollnumber=104
name="Nikhil"
age=34

cur.execute('insert into student values(?,?,?)',(rollnumber,name,age))  #we need to provide values in form of tuple

In [19]:
db.commit()

In [21]:
values = [(105,"Nidhi",20),(106,"Manisha",21),(107,"Ankush",22)]  #should be list of tuples

cur.executemany('insert into student values(?,?,?)',values)

In [22]:
db.commit()

In [23]:
#updating

cur.execute('update student set age = 30')
db.commit()

In [24]:
cur.execute('update student set age = 24 where rollnumber =102')
db.commit()

In [25]:
new_age=50
cur.execute('update student set age = ? where rollnumber =103',new_age)  #new_age should be tuple

ProgrammingError: parameters are of unsupported type

In [27]:
new_age=50
cur.execute('update student set age = ? where rollnumber =103',(new_age,))
db.commit()

In [29]:
# fetching data from sqlite

cur.execute('select * from student')

# we treate cur as iterator

In [30]:
for row in cur:
    print(row)

(101, 'Aman', 30)
(102, 'Amit', 24)
(103, 'Mohit', 50)
(104, 'Nikhil', 30)
(105, 'Nidhi', 30)
(106, 'Manisha', 30)
(107, 'Ankush', 30)

In [32]:
# using fetchone()--return first row

cur.execute('select * from student')
print(cur.fetchone())  #after calling again we get next row
print(cur.fetchone())

(101, 'Aman', 30)
(102, 'Amit', 24)

In [33]:
#fetchmany(var)--return specified var rows

cur.execute('select * from student')
cur.fetchmany(4)   #return in the form of list of tuples

[(101, 'Aman', 30), (102, 'Amit', 24), (103, 'Mohit', 50), (104, 'Nikhil', 30)]

In [34]:
cur.execute('select * from student')
cur.fetchmany()

[(101, 'Aman', 30)]

In [37]:
#fetch all
cur.execute('select * from student')
ans=cur.fetchall()   
ans

[(101, 'Aman', 30),
 (102, 'Amit', 24),
 (103, 'Mohit', 50),
 (104, 'Nikhil', 30),
 (105, 'Nidhi', 30),
 (106, 'Manisha', 30),
 (107, 'Ankush', 30)]

In [38]:
for i in ans:
    print(i)

(101, 'Aman', 30)
(102, 'Amit', 24)
(103, 'Mohit', 50)
(104, 'Nikhil', 30)
(105, 'Nidhi', 30)
(106, 'Manisha', 30)
(107, 'Ankush', 30)

In [40]:
cur.execute('select * from student where rollnumber > 103')
cur.fetchall()

[(104, 'Nikhil', 30),
 (105, 'Nidhi', 30),
 (106, 'Manisha', 30),
 (107, 'Ankush', 30)]

In [41]:
cur.execute('select * from student where name like "A%"')
cur.fetchall()

[(101, 'Aman', 30), (102, 'Amit', 24), (107, 'Ankush', 30)]